<% provide(:title, 'About') %>
<%= render 'layouts/navigation' %>
<img src="http://i.imgur.com/huboHXb.jpg?1" id="background-about" >
<div class="row col-xs-4 col-xs-offset-4">
  <div class="well text-center">
    <h1> ABOUT </h1>
    <div id="about" class="text-center">
      <p> Connect.us is a useful app created by <a href="https://www.linkedin.com/in/amandawraymond" target="_blank">Amanda Raymond</a> and <a href="https://www.linkedin.com/pub/chris-markel/19/652/339/" target="_blank">Chris Markel</a>. The app was created as part of a class project for <a href="https://generalassemb.ly/education/web-development-immersive/atlanta" target="_blank">General Assembly's Web Development Immersive Program</a>.</p>
      </br>
      <p>Our app was inspired by our need to find a convenient meeting place to work on this project outside of class hours. Connect.us calculates the midpoint between users' addresses and suggests nearby meeting places.</p> 
    </div>
  </div>
</div>
