<% provide(:title, 'About') %>
<h1> ABOUT </h1>
<div id="about" class="text-center">
  <p> Connect.us is a useful app created by <a href="https://www.linkedin.com/in/amandawraymond" target="_blank">Amanda Raymond</a> and <a href="https://www.linkedin.com/pub/chris-markel/19/652/339/" target="_blank">Chris Markel</a>. The app was created as part of a class project for <a href="https://generalassemb.ly/education/web-development-immersive/atlanta" target="_blank">General Assembly's Web Development Immersive Program</a>.</p>
  </br>
  <p>Our app was inspired by our need to find a convenient halfway point outside of class to work on this project. Our goal is to make this a seamless process whereby people can quickly determine the halfway point as well as have suggested plces in which to meet.</p> 
</div>
