<% provide(:title, 'Welcome') %>

<div class="row">
  <div class="col-md-4 col-sm-8 col-sm-offset-2">
    <div class="well">
      <h1> Welcome to Connect.us </h1>
      <p class="text-center"> Find a convenient place to meet halfway</p>
      </br>
      <div class = "form-button text-center">
        <%= link_to "SIGN UP", signup_path, class: "btn btn-large btn-success" %>
        <%= link_to "Cheat",   app_path,    class: "btn btn-large btn-success" %>
      </div>
      </br>
    </div>
  </div>
</div>