<% provide(:title, 'Welcome') %>
<%= render 'layouts/navigation' %>
<img src="http://i.imgur.com/YT0akmL.png?1" id="background-welcome" >
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
    <div class="well">
      <h1> Welcome to Connect.us </h1>
      <p> Find a convenient place to meet halfway</p>
      </br>
      <div>
        <% if signed_in? %>
          <%= link_to "Search", app_path, class: "btn btn-large btn-primary" %>
        <% else %>
          <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
        <% end %>  
      </div>
      </br>
    </div>
  </div>
</div>