<% provide(:title, 'Welcome') %>
<%= render 'layouts/navigation' %>
<img src="http://i.imgur.com/YT0akmL.png?1" id="background-welcome" >
<div id="home" class="row">
  <div class="col-xs-12 col-sm-7 col-sm-offset-3 col-m-6 col-sm-offset-3  col-lg-6 col-lg-offset-3  text-center">
    <div class="well">
      <h1> Welcome to Connect.us </h1></br>
      <p> Find a convenient place to meet halfway with Wi-Fi</p>
      </br>
      <div>
        <% if signed_in? %>
          <%= link_to "Connect Now!", app_path, class: "btn btn-large btn-primary" %>
        <% else %>
          <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
        <% end %>  
      </div>
    </div>
  </div>
</div>
