<div id="background-main">

<form class="groupForm" ng-submit="submitForm();">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
      <div class="well" >
        <h3>Connect Group</h3>
        <table class="table">
          <tbody>
            <tr ng-repeat="user in userList" >
             <td>
               <input type="checkbox" class="styled" ng-model="user.selected" >
             </td>
             <td><h4>{{user.name}}</h4></td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary" ng-click="showPlaces()">Submit</button>
      </div>
    </div>
  </div>
</form>

    <span class=" help visible-xs">XS</span>
    <span class=" help visible-sm">S</span>
    <span class=" help visible-md">M</span>
    <span class=" help visible-lg">L</span>

<!-- two maps (hide and show) are necessary for markers to persist through different submission -->
<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 text-center" ng-hide="selectedPLace">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
      <ui-gmap-marker data-ng-repeat="marker in markerList" coords="marker.coords" idkey="marker.id">
        <ui-gmap-window options="windowOptions" closeClick="closeClick()">
          <div>
          {{marker.name.split(' ')[0]}} {{marker.name.split(' ')[1].split('')[0]}}
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>
      <ui-gmap-marker data-ng-repeat="marker in midPointMarker" coords="marker.coords" idkey="marker.id" icon="marker.icon">
        <ui-gmap-window options="windowOptions" closeClick="closeClick()" >
          <div>
            {{marker.name}}
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>
      </ui-gmap-marker>
       <ui-gmap-marker data-ng-repeat="marker in selectedPlaceMarker" coords="marker.coords" idkey="marker.id" icon="marker.icon">
        <ui-gmap-window options="windowOptions" closeClick="closeClick()" >
          <div>
            {{marker.name}}
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 text-center" ng-show="selectedPLace">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
      <ui-gmap-marker data-ng-repeat="marker in markerList" coords="marker.coords" idkey="marker.id">
        <ui-gmap-window options="windowOptions" closeClick="closeClick()">
          <div>
          {{marker.name.split(' ')[0]}} {{marker.name.split(' ')[1].split('')[0]}}
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>
      <ui-gmap-marker data-ng-repeat="marker in midPointMarker" coords="marker.coords" idkey="marker.id" icon="marker.icon">
        <ui-gmap-window options="windowOptions" closeClick="closeClick()" >
          <div>
            {{marker.name}}
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>
       <ui-gmap-marker data-ng-repeat="marker in selectedPlaceMarker" coords="marker.coords" idkey="marker.id" icon="marker.icon">
        <ui-gmap-window options="windowOptions" closeClick="closeClick()" >
          <div>
            {{marker.name}}
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">  
    <h1 ng-show="users" class="text-center well">Suggested Places:</h1>  
    <div ng-hide="selectedPlace" ng-repeat= "place in placesHash" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <button class="place-button">
          <div ng-class="{ highlighted: place === selectedPlace }" ng-click="selectPlace(place);"class="panel-heading" role="tab" id="headingOne">
            <h4>{{place.name}}</h4>
          </div>
        </button>
      </div>
    </div>
  </div> 
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
    <div class="well" ng-show="selectedPlace">  
      <div class="panel-body">
        <div ng-click="clearSelectedPlace();" class="close"><a href="">Back</a></div>
          <h2>{{selectedPlace.name}}</h2>
          <p>yelp rating: {{selectedPlace.rating}}</p>
          <p>{{selectedPlace.summary}}</p>
          <h3>{{selectedPlace.address}}</h3>
          <button ng-click="textAddress(selectedPlace.name, selectedPlace.address)">text address</button>
      </div>
    </div>
  </div>
</div>

</div>
