<form name="groupForm" ng-submit="submitForm();">
  
    <table class="table">
      <thead>
       <tr>
        <th>Group</th>
       </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in userList" user.selected = false>
         <td>
           <input type="checkbox" ng-model="user.selected" >
         </td>
         <td>{{user.name}}</td>
         <td>{{user.selected}}</td>
         <td>{{user.latitude}}</td>
         <td>{{user.longitude}}</td>
        </tr>
      </tbody>
    </table>
    <input type="submit" ng-click="selectedUsers()">
    </form>


    <h1 ng-show="usersAverageLatitude"></h1>
    <table>
        <tr ng-repeat="place in placesHash">
        <td>
          {{place.name}}
        </td>
      </tr>
    </table>
    <h1 ng-show="midPoint">MIDPOINT:{{midPoint}}</h1>