<h1>Angular-Google-Maps</h1>
<form class="col-md-3 col-lg-3" name="groupForm" ng-submit="submitForm();">
  <div class="well" >
  <table class="table">
    <thead>
     <tr>
      <th><h3 class="text-center">Select Group</h3></th>
     </tr>
    </thead>
    <tbody class="text-left">
      <tr ng-repeat="user in userList" user.selected = false>
       <td>
         <input type="checkbox" class="styled" ng-model="user.selected" >
       </td>
       <td><h4>{{user.name}}</h4></td>
      </tr>
    </tbody>
  </table>
  <input type="submit" ng-click="showPlaces()">
</div>
</form>

<div class="col-md-3 col-lg-3">
  <ui-gmap-google-map center="map.center" zoom="map.zoom">
    <ui-gmap-marker data-ng-repeat="marker in markerList" coords="marker.coords" idkey="marker.id">
      <ui-gmap-window options="windowOptions" closeClick="closeClick()">
        <div>
        {{marker.name.split(' ')[0]}} {{marker.name.split(' ')[1].split('')[0]}}
        </div>
      </ui-gmap-window>
    </ui-gmap-marker>
    <ui-gmap-marker data-ng-repeat="marker in midPointMarker" coords="marker.coords" idkey="marker.id" icon="marker.icon">
      <ui-gmap-window options="windowOptions" closeClick="closeClick()" >
        <div>
          {{marker.name}}
        </div>
      </ui-gmap-window>
    </ui-gmap-marker>
  </ui-gmap-google-map>
</div>

 <section ng-hide="selectedPlace">
    <div class="col-md-offset-3 col-lg-offset-3 col-md-3 col-lg-3 center well">  
      <h1 class="text-center">Suggested Places:</h1> 
      <div ng-repeat= "place in placesHash" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <!-- <button class="place-button"> -->
            <div ng-class="{ highlighted: place === selectedPlace }" ng-click="selectPlace(place);"class="panel-heading" role="tab" id="headingOne">
              <h4>{{place.name}}</h4>
            </div>
         <!--  </button> -->
        </div>
      </div>
    </div> 
  </section>


<section ng-show="selectedPlace">
  <div class="col-md-offset-3 col-lg-offset-3 col-md-3 col-lg-3 center well">    
    <div class="panel-body">
      <div ng-click="clearSelectedPlace();" class="close"><a href="">Back</a></div>
      <p>{{selectedPlace.name}}</p>
      <p>{{selectedPlace.vicinity}}</p>
       <button ng-click="textAddress(selectedPlace.name, selectedPlace.vicinity)">text address</button>
    </div>
  </div>
</section>
   



