@import "bootstrap";

.angular-google-map-container {
  width: 550px;
  height: 350px;
}

.navbar {
  background-color: black;
  border: none;
  border-radius: 0;
}

.well {
  background-color: black;
  h1 {
    color: white;
  }
  p {
    color: white;
  }
}

#well-signin {
  margin-top: 80px;
  color: white;
}

#well-signup {
  color: white;
}

h1 {
  text-align: center;
}

#background-welcome {
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#background-about {
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#background-signin {
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#background-signup {
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


.panel-heading {
  border: 1px solid #6AA7D3;
  border-left-width: 10px;
  background-color: #C0C0C0;
  color: #6AA7D3;
}
.panel-body {
  font-size: 20px;
 }
 .lead {
  font-size: 30px;
  margin-bottom: 0px;
 } 
.place-details {
  max-height: 100px;
  transition: .8s;
  overflow: hidden;
}
.place-button {
  width: 25em;
  height: 4em;
}

.place-details.hidden {
  max-height: 0;
}
.highlighted {
  background: red;
}
li.highlighted:hover {
  background: red;
}

  