@import "bootstrap";

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
  background-color: black;
}


.angular-google-map-container {
  width: 400px;
  height: 400px;
  margin: auto;
}

/* STRUCTURE */

#pagewrap {
  padding: 5px;
  width: 1000px;
  margin: 20px auto;
}

#content {
  width: 290px;
  float: left;
  padding: 5px 15px;
}

#middle {
  width: 350px; /* Account for margins + border values */
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
}

#sidebar {
  width: 270px;
  padding: 5px 15px;
  float: left;
}
.btn-places{
  width: 300px;
}
a {
  color: white;
}
a:hover {
  color: white;
  text-decoration: none;
}
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
  
  #pagewrap {
    width: 94%;
  }
  #content {
    width: 41%;
    padding: 1% 4%;
    background-color: gray;
  }
  #middle {
    width: 41%;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float: right;
  }
  
  #sidebar {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }

}

/* for 700px or less */
@media screen and (max-width: 600px) {

  #content {
    width: auto;
    float: none;
  }
  
  #middle {
    width: auto;
    float: none;
    margin-left: 0px;
  }
  
  #sidebar {
    width: auto;
    float: none;
  }

}

/* for 480px or less */
@media screen and (max-width: 480px) {

  h1 {
    font-size: 2em;
  }
 

}


#content {
  background: #f8f8f8;
}
#sidebar {
  background: black;
}
#content, #middle, #sidebar {
  margin-bottom: 5px;
}

#pagewrap, #content, #middle, #sidebar, #footer {
}

  


.help {
  padding-left: 100px;
  color:red;
  font-size: 80px;
}


.navbar {
  background-color: black;
  border: none;
  border-radius: 0;
  color: white;
}

.well {
  background-color: black;
  border-color: black;
  padding: 40px;
  h1 {
    color: white;
  }
  p {
    color: white;
  }

}

#well-signin {
  margin-top: 80px;
  color: white;
}

#well-signup {
  color: white;
}

#home {
  padding-top: 150px;
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 15px;
  }
}

h1, h2, h3, h4 {
  text-align: center;
}

#background-welcome {
  background-size: cover;
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#background-about {
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#background-signin {
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#background-signup {
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
