@import "bootstrap";

body {
  background-color: black;
}
.help {
  padding-left: 100px;
  color:red;
  font-size: 80px;
}

.angular-google-map-container {
  width: 600px;
  height: 400px;
  margin: auto;
}

.navbar {
  background-color: black;
  border: none;
  border-radius: 0;
  color: white;
}

.well {
  background-color: black;
  border-color: black;
  padding: 80px;
  h1 {
    color: white;
  }
  p {
    color: white;
  }

}

.well-selected-place {
  background-color: black;
  border-color: black;
  padding: 10px;
  h1 {
    color: white;
  }
  p {
    color: white;
  }
}


.well-places {
  background-color: black;
  border-color: black;
  padding: 20px;
  h1 {
      color: #2563AB;
  }
}


#well-signin {
  margin-top: 80px;
  color: white;
}

#well-signup {
  color: white;
}

#home {
  padding-top: 150px;
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 15px;
  }
}

h1, h2, h3, h4 {
  text-align: center;
}

#background-welcome {
  background-size: cover;
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#background-about {
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#background-signin {
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#background-signup {
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#background-main {
  background-image: url("//i.imgur.com/XJL8UXt.jpg?1");
  background-size: cover;
  background-repeat: repeat-y;
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.groupForm {
  padding-top: 200px;
  color: white;
}
.title {
  color: #2563AB;
}


.close {
  text-decoration: none;
}

.panel-group:hover {
  font-size: 20px; 
   cursor: hand; 
   color: #2563AB;
 }
 .panel-heading:hover {
  font-size: 20px; 
   cursor: hand; 
   color: #2563AB;
 }
 .place-name:hover {
  font-size: 20px; 
   cursor: pointer;
   color: #2563AB; 
 }


/*.panel-heading {
  border: 1px solid #6AA7D3;
  border-left-width: 10px;
  background-color: #C0C0C0;
  color: #6AA7D3;
}

 .lead {
  font-size: 30px;
  margin-bottom: 0px;
 } 
.place-details {
  max-height: 100px;
  transition: .8s;
  overflow: hidden;
}
.place-button {
  width: 25em;
  height: 4em;
}

.place-details.hidden {
  max-height: 0;
}
.highlighted {
  background: red;
}
li.highlighted:hover {
  background: red;
}*/

  